/* main: ../app.scss */

.navbar{
  background-color: initial;
  border: 0;
  .container{
    #navbar{
      ul{
        margin-top: 14px;
      }
    }
  }
}

  #carousel-principal{
     .carousel-inner{
      .item{
        .carousel-caption{
          p{
            font-size: $f-size-40;
            margin: 0 auto;
            width: 110%;
          }
          button{
            margin-top: 90px;
            margin-bottom: 70px;            }
        }
      }
    }
  }
  .seccion1{
    background: $grayF5;
    height: 150px;
    .container{
      ul{
        margin-top: 33px;
        li{
          margin-right: 50px;
        }
      }
    }
  }
  .seccion2{
    padding-top: 100px;
    padding-bottom: 120px;
    .container{
      p{
        padding-bottom: 65px;
        margin: 0 auto;
        width: 50%;
      }
    }
  }
  .seccion3{
    background: $grayF5;
    padding-top: 100px;
    padding-bottom: 100px;
    .container{
      .col-sm-6{
        h2{
          margin-bottom: 65px;
        }
        p{
          line-height: 50px;
        }
      }
    }
  }
  .seccion4{
    background: $gray333;
    padding-top: 100px;
    padding-bottom: 100px;
    .container{
      .col-sm-6{
        h2{
          color: $white;
          font-weight: 400;
          margin-bottom: 50px;
        }
        p{
          color: $white;
          font-weight: 300;
          line-height: 50px;
        }
      }
    }
  }
  .seccion5{
    padding-top: 100px;
    padding-bottom: 100px;
    .container{
      .col-sm-6{
        h2{
          font-weight: 400;
          margin-bottom: 50px;
        }
        p{
          font-weight: 300;
          line-height: 50px;
        }
      }
    }
  }
  .seccion6{
    background: $gray333;
    color: $white;
    padding-top: 100px;
    padding-bottom: 70px;
    font-weight: 300;
    .container{
      #carouselCasos{
        .carousel-indicators{
          bottom: -60px;
          li{
            border: 0;
            background-color: $white;
            margin-left: 20px;
          }
          .active{
            background-color: $green;
          }
        }
        .carousel-inner{
          .item{
            .col-sm-6{
              img{
                margin-bottom: 30px;
              }
            }
            .col-sm-6.casos_texto{
              img{
                margin-top: 70px;
                margin-bottom: 70px;
              }
              .text_green{
                font-size: 1.875rem;
              }
              .texto_20{
                font-size: $f-size-20;
              }
              span{
                font-size: $f-size-20;
                line-height: 38px;
              }
              ul{
                margin-top: 70px;
              }
              .etiqueta{
                font-size: $f-size-16;
              }
            }
          }
        }
      }
    }
  }
  .seccion7{
    margin-top: 40px;
    .container{
      ul{
        li{
          margin-left: 33px;
          margin-bottom: 70px;
        }
      }
    }
  }
  .seccion8{
    background: $gray333;
    color: $white;
    padding-top: 180px;
    padding-bottom: 180px;
    span{
      font-size: 1.125rem;
    }
    #carouselTestimonios{
      .carousel-indicators{
        bottom: -160px;
        li{
          border: 0;
          background-color: $white;
          margin-left: 20px;
        }
        .active{
          background-color: $green;
        }
      }
    }
  }
  .seccion9{
    padding-top: 70px;
    padding-bottom: 100px;
    img{
      margin-bottom: 70px;
    }
    h2{
      font-weight: 300;
      margin-bottom: 85px;
      line-height: 60px;
    }
    .text_green{
      text-decoration: underline;
    }
    a{
      padding-top: 12px;
    }
  }
  .seccion10{
    background: $gray333;
    padding-top: 100px;
    padding-bottom: 100px;
    color: $white;
      .espacio{
        margin-bottom: 100px;
        overflow: hidden;
      }
      p{
        margin-bottom: 150px;
      }
      .col-sm-4{
        img{
          margin-bottom: 20px;
        }
        h3{
          margin-bottom: 40px;
        }
        div{
          width: 65%;
        }
      }
    }
    .seccion11{
      padding-top: 50px;
      background-image: url(../images/img_seccion11.png);
      background-repeat: no-repeat;
      background-position: center;
      h5{
        font-size: $f-size-20;
        font-weight: 700;
        margin-bottom: 25px;
      }
      span{
        font-size: $f-size-16;
      }
    }
    .seccion13{
      padding-top: 70px;
      padding-bottom: 40px;
      background: $grayF4;
      .col-sm-4{
        p{
          margin-bottom: 160px;
        }
      }
        .col-sm-8{
          p{
            margin-bottom: 160px;
          }
        }
      }
      .seccion14{
        padding-top: 105px;
        padding-bottom: 95px;
        p{
          margin: 0 auto;
          width: 60%;
          margin-bottom: 70px;
        }
        img{
          margin-bottom: 85px;
        }
        button{
          font-size: $f-size-20;
          width: 238px;
          margin-bottom: 30px;
        }
        button:before{
          content: url(../images/image_button.png);
          position: absolute;
          left: 27%;
          margin-top: -120px;
        }
        h5{
          font-size: 1rem;
        }
      }
      .footer.text-center{
        background: $gray333;
        color: $white;
        padding-top: 70px;
        h5{
          font-size: 1rem;
          margin-bottom: 30px;
        }
        ul{
          margin-bottom: 70px;
          li{
            margin-left: 50px;
          }
        }
        img{
          margin-bottom: 40px;
        }
        h4{
          font-size: 1rem;
        }
      }
