{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}reto4{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static  "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/app.min.css" %}" rel="stylesheet" type="text/css">


    {% block head %}
    {% endblock %}

</head>
<body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                  <img src="{% static "images/logo_useit.png" %}" />
                </a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                  <li><a href="">SOLUCIONES</a></li>
                  <li><a href="http://miestiloweb.com/" target="_blank">MIESTILOWEB</a></li>
                  <li><a href="">NOSOTROS</a></li>
                  <li><a href="">CONTACTO</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </nav>
            {% block content %}
            {% endblock %}
    <!-- jQuery -->
    <script src="{% static "/jquery/jquery.min.js" %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <script src="{% static 'js/template.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>
