{% extends "base.html" %}
{% load customs %}
{% block content %}
<div class="">
{% banners "Banner principal" as bann %}
  <div id="carousel-principal" class="carousel slide" data-interval="5000" data-ride="carousel">
    <div class="carousel-inner">
      {% for banner in bann %}
        <div class="item active">
          <a href="" title="">
          <img src="{{banner.imagen}}" alt="Banner principal">
          </a>
          <div class="carousel-caption">
            {{ banner.descripcion | safe }}
          </div>
        </div>
        {% endfor %}
    </div>
  </div>

  <div class="seccion1 text-center">
    <div class="container">
      {% section "seccion1" as reto4 %}
      {{ reto4.description | safe }}
    </div>
  </div>
  <div class="seccion2 text-center">
    <div class="container">
      {% section "seccion2" as reto4 %}
      {{ reto4.description | safe }}
    </div>
  </div>
  <div class="seccion3">
    <div class="container">
      {% section "seccion3" as reto4 %}
      {{ reto4.description | safe }}
    </div>
  </div>
  <div class="seccion4">
    <div class="container">
      {% section "seccion4" as reto4 %}
      {{ reto4.description | safe }}
    </div>
  </div>
  <div class="seccion5">
    <div class="container">
      {% section "seccion5" as reto4 %}
      {{ reto4.description | safe }}
    </div>
  </div>
  <div class="seccion6">
    <div class="container">
      {% banners "Casos" as bann %}
        <div id="carouselCasos" class="carousel slide" data-interval="5000" data-ride="carousel">
          <ol class="carousel-indicators">
						<li data-target="#carouselCasos" data-slide-to="0" class="active"></li>
						<li data-target="#carouselCasos" data-slide-to="1" class=""></li>
						<li data-target="#carouselCasos" data-slide-to="2" class=""></li>
						<li data-target="#carouselCasos" data-slide-to="3" class=""></li>
					</ol>
          <div class="carousel-inner">
            {% for banner in bann %}
              <div class="item {% if forloop.counter0 == 0 %} active {% endif %}">
                <div class="col-sm-6 casos_texto">
                  {{ banner.descripcion | safe }}
                </div>
                <div class="col-sm-6">
                  <a href="" title="">
                    <img src="{{banner.imagen}}" alt="Banner Casos">
                  </a>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
    </div>
  </div>
  <div class="seccion7">
    <div class="container">
      {% section "seccion7" as reto4 %}
      {{ reto4.description | safe }}
    </div>
  </div>
  <div class="seccion8">
    <div class="container">
      {% banners "Testimonios" as bann %}
        <div id="carouselTestimonios" class="carousel slide" data-interval="5000" data-ride="carousel">
          <ol class="carousel-indicators">
						<li data-target="#carouselTestimonios" data-slide-to="0" class="active"></li>
					</ol>
          <div class="carousel-inner">
            {% for banner in bann %}
              <div class="item {% if forloop.counter0 == 0 %} active {% endif %}">
                <div class="col-sm-3">
                  <a href="" title="">
                    <img src="{{banner.imagen}}" alt="Banner Casos">
                  </a>
                </div>
                <div class="col-sm-9 casos_texto">
                  {{ banner.descripcion | safe }}
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
    </div>
  </div>
  <div class="seccion9 text-center">
    <div class="container">
      {% section "seccion9" as reto4 %}
      {{ reto4.description | safe }}
    </div>
  </div>
  <div class="seccion10">
    <div class="container">
      {% section "seccion10" as reto4 %}
      {{ reto4.description | safe }}
    </div>
  </div>
  <div class="seccion11">
    <div class="container">
      {% section "seccion11" as reto4 %}
      {{ reto4.description | safe }}
    </div>
  </div>
  <div class="seccion13">
    <div class="container">
      {% section "seccion13" as reto4 %}
      {{ reto4.description | safe }}
    </div>
  </div>
  <div class="seccion14 text-center">
    <div class="container">
      {% section "seccion14" as reto4 %}
      {{ reto4.description | safe }}
    </div>
  </div>
  <div class="footer text-center">
    <div class="container">
      {% section "seccion15" as reto4 %}
      {{ reto4.description | safe }}
    </div>
  </div>
</div>

{% endblock %}
