/* main: ../app.scss */


:root {
  font-size: 16px;
}

body{
  font-family: 'Open Sans', sans-serif;
  h2{
    font-size: $f-size-40;
  }
  h4{
    font-size: 0.875rem;
  }
  h3{
    font-size: $f-size-18;
  }
  a{
    color: $white!important;
    font-size: 1rem;
    font-weight: 400;
  }
  p{
    font-size: 1.875rem;
    font-weight: 300;
  }
  .img_center{
    margin: 0 auto;
  }
  .menu_scroll{
    background-color: $gray333!important;
    height: 80px;
  }
  .btn-green{
    background: $green;
    border: 0;
    border-radius: 6px;
    color: $white;
    height: 40px;
    width: 344px;
  }
  .etiqueta{
    background: $green;
    border-radius: 25px;
    color: $white;
    padding: 10px 20px 10px 20px;

  }
  .text_green{
    color: $green;
    font-weight: 300;
  }
  .letra_20{
    font-size: $f-size-20;
    line-height: 40px!important;
  }
}

.clearfix{
	clear: both;
}
