/* main: ../app.scss */
/**
8px = 0.5rem
9px = 0.5625rem
10px = 0.625rem
11px = 0.6875rem
12px = 0.75rem
13px = 0.8125rem
14px = 0.875rem
15px = 0.9375rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
22px = 1.375rem
24px = 1.5rem
26px = 1.625rem
28px = 1.75rem
30px = 1.875rem
32px = 2rem
34px = 2.125rem
36px = 2.25rem
38px = 2.375rem
40px = 2.5rem
48px = 3rem
 */

 $f-size-10	: 0.625rem;
 $f-size-14	: 0.875rem;
 $f-size-16	: 1rem;
 $f-size-18	: 1.125rem;
 $f-size-20	: 1.25rem;
 $f-size-24	: 1.5rem;
 $f-size-28	: 1.75rem;
 $f-size-38	: 2.375rem;
 $f-size-40	: 2.5rem;
 $f-size-48	: 3rem;

 /*Colors*/
 $gray333	: #333333;
 $gray000	: #999999;
 $grayCCC	: #CCCCCC;
 $grayEEE	: #EEEEEE;
 $grayF5		: #F5F5F5;
 $grayF4		: #F4F4F4;
 $white		: #FFFFFF;

 $purple			: #3B2783;
 $purpledark	: #201057;
 $blue				: #00B0EA;
 $seablue		: #0091C1;
 $yellow			: #F7C400;
 $green			: #7CB342;
